.input-sm-label {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem 0.25rem;
  font: var(--btn);
  color: var(--gray-darker);
}

.text-field {
  font: var(--p-sm);
  color: var(--gray-darker);
  background-color: var(--black_10);
  border: none;
  border-bottom: 2px solid var(--primary-color);
  outline: none;
}
