input[type="radio"] {
  display: none;
}

.radio-button {
  height: 2.5rem;
  padding: 0.5rem 3rem;
  margin: 1rem;
  font: var(--btn);
  color: var(--primary-color);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  transition: var(--transition-hover);
  cursor: pointer;
}

.radio-button:hover {
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

input[type="radio"]:checked + .radio-button {
  color: var(--gray-lighter);
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
