* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --h1: normal 2.8rem "Staatliches";
  --h2: normal 1.5rem "Oswald", sans-serif;
  --p: lighter 1.25rem "Oswald", sans-serif;
  --btn: normal 1rem "Oswald", sans-serif;
  --primary-color: #6a63fe;
  --secondary-color: #3700BC;
  --white: #f2f2f3;
  --transition-hover: all 0.5s ease-out;
}
